.fancy {
 font-style: italic; 
}

h1 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

ol {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.bnav {
  position: relative;
  bottom: 0;
  width: 100%;
}

.bnav li {
  color: pink;
  background-color: black;
  float: right;
  width: 33%;
  display: block;
}